@use "util";

@mixin smallBtn($color) {
  font-size: util.rem(18px);
  font-weight: 500;
  font-style: normal;
  color: $color !important;
  background-color: transparent;
  display: inline-flex;
  padding: util.rem(10px) util.rem(15px);
  justify-content: center;
  align-items: center;
  border-radius: util.rem(5px);
  border: 1px solid $color;
}
